# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Misc
*.log
.DS_Store
.vscode/

# Terravision
resource_classes/__pycache__/*
resource_classes/aws/__pycache__/*
resource_classes/generic/__pycache__/*
modules/__pycache__/*
.vscode/*
tfdata.json
architecture.dot.png
tests/json/wrecked.json
ai-backend-terraform/.terraform.lock.hcl
ai-backend-terraform/lambda_function.zip
ai-backend-terraform/terraform.tfstate
ai-backend-terraform/terraform.tfstate.backup
ai-backend-terraform/.terraform/*
ai-backend-terraform/lambda/node_modules/*
specs/
.specify/
.claude/*
