click==8.1.8
GitPython==3.1.44
graphviz==0.20.3
PyYAML==6.0.2
requests==2.32.3 
setuptools==75.8.0
tqdm==4.67.1
python-hcl2==6.1.0
pyinstaller==6.11.1
ipaddr==2.2.0
numpy==2.2.2
debugpy==1.8.12
build==1.2.2.post1